{
  "openapi": "3.0.3",
  "info": {
    "title": "API de Pedidos (exemplo)",
    "version": "1.2.0",
    "description": "Spec de exemplo para demonstrar o servidor MCP. Substitua pelos JSON das APIs do time."
  },
  "servers": [{ "url": "https://api-hml.exemplo.com.br/v1", "description": "Homologação" }],
  "tags": [
    { "name": "Pedidos", "description": "Criação, consulta e cancelamento de pedidos" },
    { "name": "Infra", "description": "Monitoramento" }
  ],
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/pedidos": {
      "get": {
        "tags": ["Pedidos"],
        "operationId": "listarPedidos",
        "summary": "Lista pedidos com filtros e paginação",
        "parameters": [
          { "name": "status", "in": "query", "schema": { "$ref": "#/components/schemas/StatusPedido" } },
          { "name": "page", "in": "query", "schema": { "type": "integer", "minimum": 1, "default": 1 } },
          { "name": "size", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 20 } }
        ],
        "responses": {
          "200": {
            "description": "Página de pedidos",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PaginaPedidos" } } }
          },
          "400": { "$ref": "#/components/responses/ErroValidacao" },
          "401": { "$ref": "#/components/responses/NaoAutenticado" }
        }
      },
      "post": {
        "tags": ["Pedidos"],
        "operationId": "criarPedido",
        "summary": "Cria um pedido",
        "description": "Cria um pedido para um cliente. O número do pedido do parceiro deve ser único.",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PedidoEntrada" } } }
        },
        "responses": {
          "201": {
            "description": "Pedido criado",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Pedido" } } }
          },
          "400": { "$ref": "#/components/responses/ErroValidacao" },
          "401": { "$ref": "#/components/responses/NaoAutenticado" },
          "409": {
            "description": "Já existe pedido com o mesmo numeroParceiro",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Erro" } } }
          },
          "422": {
            "description": "Regra de negócio violada (ex.: produto sem estoque)",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Erro" } } }
          }
        }
      }
    },
    "/pedidos/{id}": {
      "parameters": [{ "$ref": "#/components/parameters/PedidoId" }],
      "get": {
        "tags": ["Pedidos"],
        "operationId": "buscarPedido",
        "summary": "Busca um pedido pelo id",
        "responses": {
          "200": {
            "description": "Pedido encontrado",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Pedido" } } }
          },
          "401": { "$ref": "#/components/responses/NaoAutenticado" },
          "404": { "$ref": "#/components/responses/NaoEncontrado" }
        }
      },
      "delete": {
        "tags": ["Pedidos"],
        "operationId": "cancelarPedido",
        "summary": "Cancela um pedido",
        "description": "Só é possível cancelar pedidos que ainda não foram enviados.",
        "responses": {
          "204": { "description": "Pedido cancelado" },
          "401": { "$ref": "#/components/responses/NaoAutenticado" },
          "403": { "description": "Usuário sem permissão de cancelamento" },
          "404": { "$ref": "#/components/responses/NaoEncontrado" },
          "409": {
            "description": "Pedido já enviado não pode ser cancelado",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Erro" } } }
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": ["Infra"],
        "operationId": "health",
        "summary": "Verifica se a API está no ar",
        "security": [],
        "responses": { "200": { "description": "OK" } }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer", "bearerFormat": "JWT" }
    },
    "parameters": {
      "PedidoId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Identificador do pedido",
        "schema": { "type": "string", "format": "uuid" }
      }
    },
    "responses": {
      "ErroValidacao": {
        "description": "Dados de entrada inválidos",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Erro" } } }
      },
      "NaoAutenticado": { "description": "Token ausente, inválido ou expirado" },
      "NaoEncontrado": {
        "description": "Pedido não encontrado",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Erro" } } }
      }
    },
    "schemas": {
      "StatusPedido": { "type": "string", "enum": ["CRIADO", "PAGO", "ENVIADO", "CANCELADO"] },
      "PedidoEntrada": {
        "type": "object",
        "required": ["numeroParceiro", "cliente", "itens", "formaPagamento"],
        "properties": {
          "numeroParceiro": { "type": "string", "minLength": 3, "maxLength": 30, "description": "Número do pedido no sistema do parceiro (único)" },
          "cliente": { "$ref": "#/components/schemas/Cliente" },
          "itens": { "type": "array", "minItems": 1, "maxItems": 50, "items": { "$ref": "#/components/schemas/Item" } },
          "formaPagamento": { "type": "string", "enum": ["PIX", "CARTAO", "BOLETO"] },
          "observacao": { "type": "string", "maxLength": 500, "nullable": true }
        }
      },
      "Pedido": {
        "allOf": [
          { "$ref": "#/components/schemas/PedidoEntrada" },
          {
            "type": "object",
            "required": ["id", "status", "criadoEm"],
            "properties": {
              "id": { "type": "string", "format": "uuid", "readOnly": true },
              "status": { "$ref": "#/components/schemas/StatusPedido" },
              "valorTotal": { "type": "number", "readOnly": true },
              "criadoEm": { "type": "string", "format": "date-time", "readOnly": true }
            }
          }
        ]
      },
      "Cliente": {
        "type": "object",
        "required": ["nome", "cpf", "email"],
        "properties": {
          "nome": { "type": "string", "minLength": 2, "maxLength": 120 },
          "cpf": { "type": "string", "pattern": "^\\d{11}$", "description": "Somente dígitos" },
          "email": { "type": "string", "format": "email" },
          "endereco": { "$ref": "#/components/schemas/Endereco" }
        }
      },
      "Endereco": {
        "type": "object",
        "required": ["cep", "numero"],
        "properties": {
          "cep": { "type": "string", "pattern": "^\\d{5}-?\\d{3}$" },
          "numero": { "type": "string", "maxLength": 10 },
          "complemento": { "type": "string" }
        }
      },
      "Item": {
        "type": "object",
        "required": ["sku", "quantidade", "precoUnitario"],
        "properties": {
          "sku": { "type": "string", "pattern": "^[A-Z0-9-]{4,20}$", "example": "CAMISA-AZ-M" },
          "quantidade": { "type": "integer", "minimum": 1, "maximum": 999 },
          "precoUnitario": { "type": "number", "minimum": 0, "exclusiveMinimum": true }
        }
      },
      "PaginaPedidos": {
        "type": "object",
        "properties": {
          "itens": { "type": "array", "items": { "$ref": "#/components/schemas/Pedido" } },
          "page": { "type": "integer" },
          "totalItems": { "type": "integer" }
        }
      },
      "Erro": {
        "type": "object",
        "required": ["codigo", "mensagem"],
        "properties": {
          "codigo": { "type": "string" },
          "mensagem": { "type": "string" },
          "campos": { "type": "array", "items": { "type": "object", "properties": { "campo": { "type": "string" }, "erro": { "type": "string" } } } }
        }
      }
    }
  }
}
